.chat-container {
  width: 100%;
  max-width: 100%;

  .element {
    max-width: 100%;
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: #fafafa;

    .name {
      color: #29b6f6;
    }

    &:nth-child(2n) {
      background-color: #eeeeee;
    }
  }
}
